<html ng-app="listaTelefonica">
<meta charset="UTF-8">
<head>
  <title>Lista Telefônica</title>
  <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
  <style>
    .jumbotron {
      width: 400px;
      text-align: center;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
    }

    .table {
      margin-top: 20px;
    }

    .form-control {
      margin-bottom: 10px;
    }

    .selecionado {
      background-color: lightblue;

    }

    .negrito {
      font-weight: bold;
    }
  </style>
  <script src="node_modules/angular/angular.js"></script>
  <script>
    angular.module("listaTelefonica", [])
    angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function ($scope) {
      $scope.app = "Lista Telefônica"
      $scope.contatos = [
        { nome: "Pedro", telefone: "(31) 998733355" },
        { nome: "Tiago", telefone: "(31) 999663355" },
        { nome: "Joao", telefone: "(31) 999213999" }
      ]

      $scope.operadoras = [
        { nome: "OI", codigo: 14, categoria: "Celular" },
        { nome: "VIVO", codigo: 15, categoria: "Celular" },
        { nome: "OI", codigo: 41, categoria: "Celular" },
        { nome: "EMBRATEL", codigo: 41, categoria: "Fixo" },
        { nome: "GVT", codigo: 41, categoria: "Fixo" }

      ]
      $scope.adicionarContato = function (contato) {
        $scope.contatos.push(angular.copy(contato))
        delete $scope.contato
         $scope.contatoForm.$setPristine()
      }

      $scope.apagarContato = function (contatos) {
        $scope.contatos = contatos.filter(contato => (contato.selecionado === undefined || contato.selecionado === false))
      }
      $scope.isContatoSelecionado = function (contatos) {
        const selecionado = contatos.filter(contato => contato.selecionado === true)
        if (selecionado.length !== 0)
          return true
      }
    })
  </script>
</head>

<body ng-controller='listaTelefonicaCtrl'>
  <div class="jumbotron h-100 p-5 bg-light border rounded-3">
    <h4>{{app}}</h4>
    <table ng-show="contatos.length>0" class="table table-striped">
      <tr>
        <th>Item</th>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Operadora</th>

      </tr>
      <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos">
        <td><input type="checkbox" ng-model="contato.selecionado"></td>
        <td>{{contato.nome}}</td>
        <td>{{contato.telefone}}</td>
        <td>{{contato.operadora.nome}}</td>

      </tr>
    </table>
    <form name="contatoForm" action="">
      <input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true" ng-minlength="4" />
      <input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="99999-6666" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/" />
      <select class="form-select form-control" ng-model="contato.operadora"
        ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
        <option value="">Selecione uma operadora</option>
      </select>
    </form>
    <div ng-show="contatoForm.nome.$error.required && contatoForm.nome.$dirty" class="alert alert-danger">
      Por favor, preencha o campo nome.
    </div>
    <div ng-show="contatoForm.nome.$error.minlength && contatoForm.nome.$dirty" class="alert alert-danger">
      O campo nome deve ter no mínimo 4 caracteres
    </div>
    <div ng-show="contatoForm.telefone.$invalid && contatoForm.telefone.$dirty" class="alert alert-danger">
      Por favor, preencha o campo telefone.
    </div>
    <div ng-show="contatoForm.telefone.$error.pattern && contatoForm.telefone.$dirty" class="alert alert-danger">
      Por favor, preencha o campo telefone deve ter o formato 99999-6666
    </div>
    <button class="btn btn-outline-primary col-12" ng-disabled="contatoForm.$invalid"
      ng-click="adicionarContato(contato)">
      Adicionar Contato
    </button>

    <button class="btn btn-outline-danger col-xs-2 col-12 " ng-if="isContatoSelecionado(contatos)"
      ng-click="apagarContato(contatos)">
      Apagar Contato
    </button>
  </div>

</body>

</html>